{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block title %}
    {% trans "Réinitialisation du mot de passe" %} - Mon App
{% endblock title %}


{% block content %}
    {% element h1 %}
        {% trans "Réinitialisation du mot de passe" %}
    {% endelement %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% element p %}
        {% blocktrans %}
            Nous vous avons envoyé un email. Si vous ne l’avez pas reçu, veuillez vérifier votre dossier spam.
            Sinon, contactez-nous si vous ne le recevez pas dans les prochaines minutes.
        {% endblocktrans %}
    {% endelement %}
{% endblock content %}