{% extends "base.html" %}

{% load i18n allauth account %}

{% block title %}
    {% trans "Réinitialisation du mot de passe" %} - Mon App
{% endblock title %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <h1 class="text-center mb-4">
                {% trans "Réinitialisation du mot de passe" %}
            </h1>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="lead text-center mb-4">
                {% trans "Mot de passe oublié ? Entrez votre adresse email ci-dessous et nous vous enverrons un email pour le réinitialiser." %}
            </p>

            {% url 'account_reset_password' as reset_url %}

            {% element form form=form method="post" action=reset_url %}
                {% slot body %}
                {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label fw-bold">
                            Email
                        </label>

                        {{ form.email }}
                    </div>

                    {{ redirect_field }}
                {% endslot %}

                {% slot actions %}
                    {% element button type="submit" %}
                        {% trans 'Réinitialiser mon mot de passe' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}

            <p class="text-muted mt-4 text-center small">
                {% blocktrans %}N’hésitez pas à nous contacter si vous rencontrez des difficultés pour réinitialiser votre mot de passe.{% endblocktrans %}
            </p>

        </div>
    </div>

{% endblock content %}